## Pandas and numpy

In [6]:
D = [[0,13,21,22],[13,0,12,13],[21,12,0,13],[22,13,13,0]]
D

[[0, 13, 21, 22], [13, 0, 12, 13], [21, 12, 0, 13], [22, 13, 13, 0]]

This isn't bad, but it gets clunky. 
* We don't have any names associated with the columns or rows.
* We don't have an easy way to access a specific column.
* And much more...

In [7]:
import pandas as pd
names = ["v1","v2","v3","v4"]
D = pd.DataFrame([[0,13,21,22],[13,0,12,13],[21,12,0,13],[22,13,13,0]],index=names,columns=names)
D

    v1  v2  v3  v4
v1   0  13  21  22
v2  13   0  12  13
v3  21  12   0  13
v4  22  13  13   0

**Accessing an element by row and column name**

In [8]:
D.loc["v2","v3"] # Pretty cool right?

12

In [9]:
D.iloc[1,2] # You can always go back to regular indices

12

In [10]:
D.columns # You can easily get the column names

Index(['v1', 'v2', 'v3', 'v4'], dtype='object')

In [11]:
D.index # You can easily get the row names

Index(['v1', 'v2', 'v3', 'v4'], dtype='object')